.idea/
.phpbench/
.vscode/
data/
out/
PhelGenerated/
var/
vendor/

!PhelGenerated/.gitkeep
*.cache
.php-cs-fixer.php
.phel-repl-history
composer.lock
local.phel
phel-config-local.php
gacela*.php
src/php/Api/Infrastructure/phel/doc.phel
