{
    "source": {
        "directories": [
            "src/php"
        ]
    },
    "timeout": 30,
    "logs": {
        "text": "data/infection/infection.log",
        "summary": "data/infection/summary.log",
        "perMutator": "data/infection/per-mutator.md"
    },
    "tmpDir": "data/infection",
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "bootstrap":"./vendor/autoload.php"
}
