includes:
    - vendor/gacela-project/gacela/phpstan-gacela.neon

parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 3000.0
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        - identifier: trait.unused
