pre {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: $font-size-code;
    font-family: $font-mono;

    border-top: 1px solid $color-base-lines;
    border-bottom: 1px solid $color-base-lines;

    overflow-x: auto;
}

p code, li code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: $color-base-selection;
}