
.documentation {
    margin: 0 auto;
    max-width: 800px;

    .documentation__sidebar {
        padding: 2em;
        padding-bottom: 0;

        .phel-logo {
            max-height: 8em;
        }

        input[type="checkbox"] {
            display: none;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            display: block;
            color: white;
            padding: .5em;
            text-align: center;
            background-color: $color-base-primary;

            svg {
                width: .75em;
                height: .75em;
                stroke: currentColor;
                stroke-width: 4;
                fill: none;
            }
        }

        nav {
            display: none;
        }

        input[type="checkbox"]:checked ~ nav {
            display: block;
            text-align: center;
            margin-top: 1em;
        }

        input[type="checkbox"]:checked ~ label {
            path {
                d: path("M3,3 29,29 M16,16 16,16 M3,29 29,3");
            }
        }
    }

    .documentation__content {
        padding: 2em 2em;
    }
}

@include desktop {
    .documentation {
        display: flex;
        margin: unset;
        max-width: unset;

        .documentation__sidebar {
            width: 15em;
            background-color: $color-base-primary;
            color: white;
            padding-bottom: 2em;

            .phel-logo {
                stroke: white;
            }

            a {
                color: white;
            }

            label {
                display: none;
            }

            nav {
                display: block;
                text-align: left;
                margin-top: 0;

                li.active {
                    font-weight: bold;
                }
            }

        }

        .documentation__content {
            flex: 1;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}

footer {
    margin-top: 5em;
    text-align: center;
    font-size: 14px;
}