$font-size: 18px;
$font-size-large: 22px;
$font-size-code: 16px;
$font-primary: "Helvetica", "Arial", sans-serif;
$font-secondary: "Helvetica", "Arial", sans-serif;
$font-mono: "Consolas", monospace;

$color-base-primary: #512da8;
$color-base-selection: rgba(27,31,35,.05);
$color-base-lines: #DCDCDC;

$color-text-primary: #333;
$color-text-secondary: #777777;
$color-text-heading: #222222;
$color-text-inverted: white;

$color-background-dark: #32373d;
$color-background-light: #f5f5f5;
$color-background-body: white;

$color-state-muted: #eeeeee;
$color-state-success: #10a887;
$color-state-warning: #F17F42;
$color-state-error: #da3c3c;

$color-blue-darker: #1573b6;
$color-blue-dark: #1e80c6;
$color-blue-base: #2b90d9;
$color-blue-light: #3fa2e9;
$color-blue-lighter: #4eb1f9;

$color-green-darker: #089073;
$color-green-dark: #0b9d7d;
$color-green-base: #10a887;
$color-green-light: #1eb896;
$color-green-lighter: #28ceaa;

$color-red-darker: #653131;
$color-red-dark: #b73333;
$color-red-base: #da3c3c;
$color-red-light: #f25a5a;
$color-red-lighter: #fa8181;

$color-gray-darker: #333333;
$color-gray-dark: #4d4d4d;
$color-gray-base: #666666;
$color-gray-light: #808080;
$color-gray-lighter: #999999;