@import 'settings';
@import 'base';
@import 'macros';
@import 'headings';
@import 'lists';
@import 'code';
@import 'layout';

svg.phel-logo {
    fill: none;
    stroke: $color-base-primary;
    stroke-width: 3px;
}

ul.api-index {
    padding: 0;

    li {
        display: inline-block;
    }
}

.page-404 {
    .phel-logo {
        max-height: 8em;
    }

    text-align: center;
}

.blog {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em;

    .phel-logo {
        max-height: 8em;
    }

    .nav {
        background-color: $color-base-primary;
        padding: .5em;
        text-align: center;

        a {
            color: white;
        }
    }
}

.zola-anchor {
    color: $color-gray-lighter;
    font-style: italic;
    padding-left: 0.2em;
}
