@import 'settings';
@import 'base';
@import 'macros';
@import 'headings';
@import 'lists';
@import 'code';
@import 'layout';

svg.phel-logo {
    fill: none;
    stroke: $color-base-primary;
    stroke-width: 3px;
}

ul.api-index {
    padding: 0;

    li {
        display: inline-block;
    }
}

.page-404 {
    .phel-logo {
        max-height: 8em;
    }

    text-align: center;
}