@import 'settings';
@import 'base';
@import 'macros';
@import 'headings';
@import 'lists';
@import 'code';
@import 'layout';

svg.phel-logo {
    fill: none;
    stroke: $color-base-primary;
    stroke-width: 3px;
}